{% extends "base.html" %}



{% block content %}

    <h1>Your Posts</h1>

   


    {% if userposts|length == 0 %}

    <p>No tasks yet</p>

    {% else %}
    <ul>

            {% for entry in userposts %}
    
            <li><h3><a href="/blog?id={{entry.id}}">{{entry.title}}</a></h3></li>
            <li>{{entry.body}}</li>
            <li>Created By: <a href="/blog?user={{entry.owner_id}}">{{entry.owner.username}}</a></li>
            <hr>
            {% endfor %}
    
        </ul>

        



    {% endif %}
    {% endblock %}